{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env", {
                "modules": false
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                ["@babel/plugin-proposal-class-properties", { "loose": true }],
                ["react-hot-loader/babel"]
            ]
        },
        "production": {
           "plugins": [
               "@babel/plugin-syntax-dynamic-import",
               "@babel/plugin-proposal-class-properties",
               ["@babel/plugin-proposal-decorators", {
                   "legacy": true
               }],
               ["@babel/plugin-proposal-class-properties", { "loose": true }]
           ]
        }
    }
}
