{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env", {
                "modules": false
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-class-properties",
                [
                    "react-transform", {
                        "transforms": [
                            {
                                "transform": "react-transform-hmr",
                                "imports": ["react"],
                                "locals": ["module"]
                            }
                        ]
                    }
                ],
                ["@babel/plugin-proposal-decorators", { "legacy": true }]
            ]
        },
        "production": {
            "plugins": ["@babel/plugin-proposal-decorators"]
        }
    }
}
